@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --primary-color: #155799;
  --secundary-color: #159957;
  --primary-text-color: white;
  --secundary-text-color: #159957;
  --background-color: #F0F0F0;
  --warning-background-color: #222;
  --primary-font: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  box-sizing: border-box;
  background-color: var(--background-color);
  font-family: var(--primary-font);
  font-weight: 400;
  color: var(--primary-text-color);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav {
  display: flex;
  justify-content: center;
  gap: 80px;
  padding: 1% 0;
}

.nav__link {
  color: var(--secundary-color);
  text-decoration: none;
}

.logo {
  text-align: center;
  padding: 1%;
}

.logo__title {
  color: var(--secundary-text-color);
  font-size: 2.25rem;
}

.logo__image {
  max-width: 5%;
  padding: 1%;
}

.content {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  padding: 1% 0;
  background: var(--secundary-color);
  background: -webkit-linear-gradient(to right, var(--primary-color), var(--secundary-color));
  background: linear-gradient(to right, var(--primary-color), var(--secundary-color));
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.content__text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  font-size: 2.5rem;
}

.content__text-strong {
  font-weight: 700;
}

.content__text__result {
  font-size: 3.5rem;
  color: black;
  font-weight: 700;
}

.content__image {
  display: flex;
  flex-direction: column;
  padding: 0 2% 0 0;
}

.content__image-ref {
  font-size: 0.50rem;
  text-align: center;
}

.warning {
  background-color: var(--warning-background-color);
  font-size: 1rem;
  font-weight: 300;
  padding: 10px;
  border-radius: 5px;
  margin: 1% 0;
  text-align: center;
}

.share {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.share__title {
  font-weight: 700;
  color: var(--secundary-text-color);
}

.share__link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10%;
}

footer {
  text-align: center;
  padding: 1% 0;
  background-color: var(--background-color);
}

.copyright {
  color: #666;
  font-size: 1rem;
  margin-top: 10px;
}

@media (max-width: 800px) {
  .content {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 2% 0;
  }

  .content__text {
    font-size: 1.5rem;
  }

  .content__text__result {
    font-size: 2.0rem;
  }

  .content__image {
    display: none;
    padding: 0;
    width: 0%;
  }
}
